<div>
    <div class="clearfix"></div>
    <!-- Sof Footer -->
    <div class="inner-footer">
        <span class="copyright">
            © 2017 All Copyrights reserved by Techmileage LLC<span>
                <ul class="footer-links">
                    <li><a href="#">Help?</a> | </li>
                    <li><a href="#">Support</a> | </li>
                    <li><a href="#">Terms Of User</a> </li>
                </ul>
            </span>
        </span>
    </div>
    <!-- Eof Footer -->
</div>