
<div class="login-panel">
    <div class="col-md-7 pdl-0"><div class="loginpage-slide"><img src="Content/Images/forget-page-left-image.jpg" alt="login_bg" /></div></div>
    <!-- Sof Login Page-->
    <div class="col-md-5 pdl-0 right-panel">

        <div class="login-page-client-logo">
            <img src="Content/Images/client-logo.png" alt="Client Logo" />
        </div>
        <div class="login-box">

            <h4>Get your account back</h4>
            <p>
                Enter Your Email ID
                <span>To recover your account, begin by entering your user ID</span>
            </p>
            <div class="form-horizontal">
                <div class="form-group">

                    <label for="exampleInputName2" class="col-md-3 col-sm-3 control-label"> </label>
                    <div class="col-lg-7 col-sm-8">
                        <input type="email" class="form-control" name="email" ng-model="emailid" id="username" placeholder="" required />
                    </div>
                </div>



                <div class="col-lg-7 col-sm-8 col-sm-offset-3 pd-0"><button class="btn btn-success forget-submit-btn" ng-click="forgetpwd()">Submit</button></div>
                <div class="col-lg-7 col-sm-8 col-md-offset-3 text-right pdr-0"><a ui-sref="login">Go back to Login</a></div>
            </div>


        </div>

    </div>
    <!-- Eof Login Page-->
    <!-- Sof Footer-->
    <div class="footer">
        <span class="copyright">
            © 2017 All Copyrights reserved by Techmileage LLC<span>
                <ul class="footer-links">
                    <li><a href="#">Home</a> | </li>
                    <li><a href="#">Terms Of User</a> | </li>
                    <li><a href="#">Privacy Policy</a> </li>
                </ul>
    </div>
    <!-- Eof Footer-->


</div>